<head>  
<meta charset="utf-8">
<meta name= 'keywords' content= "Hlib, Lieonov, Lebenslauf">
<meta name= 'description' contant= "Dies ist eine WebApplication, wo es über mich erzählt wird">
<title> Hlib Lieonov </title>
<style>
h1 {
  color: #0404B4;
  text-align: center;
}
body {
  background: #E0F8F7;
}
h2 {
  text-align: center;
  color: red;
}
</style>
</head>  
<body>
<h1 id="header"> HLib Lieonov</h1>
<h2> Lebenslauf</h2> 
<%= link_to "Alpha Blog", articles_path %> | <%=link_to "Weiter fortsetzen", about_path %>




</body>

